/* Generics */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}
body{
    color: white;
    position: relative;
}

/* Top-bar */

header{
    height: 100px;
    width: 100%;
    background-color: black;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}
.button{
    display: inline;
    background: rgb(74,74,74);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

/* Main content */

.main-content{
    display: flex;
    flex-wrap: wrap;
}

.img-square{
    position: relative;
    flex-basis: calc(100vw / 7);
    height: calc(100vw / 7);
}

.audio-name{
    position: absolute;
    right: 50%;
    top: 50%;
}