/* Generics */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

body{
    color: white;
    background-color: black;
}

/* Top-bar */

header{
    height: 100px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}

a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

i{
    display: inline;
}

.button{
    display: inline;
    background: rgb(74,74,74);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

/* Main content */

.main-content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
}

.img-square{
    position: relative;
    flex-basis: 250px;
    height: 200px;
}

.audio-name{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 1em;
    border-radius: 0;
}

/* Footer */

footer{
    height: 100px;
    width: 100%;
    background-color: rgb(34,34,34);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-section{
    flex-basis: calc(80vw / 3);
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    font-size: 1.5em;
}

.center-item{
    flex-grow: 1;
}

.small{
    font-size: 0.5em ;
}

.red-text{
    color: red;
    background-color: rgb(74,74,74);

}